@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.box {
    height: 300px;
    width: 300px;
    border: 0;
}

.container {
    align-items: center;
    text-align: center;
}

.save-btn {
    padding: 7px 10px;
    background-color: aqua;
    border-radius: 10px;
}

.save-btn:hover {
    color: rgb(152, 0, 0);
    background-color: rgba(0, 255, 255, 0.5);
}